body {
  margin: 0;
}

#cor-cori {
  background: rgb(91, 7, 7);
  background: linear-gradient(
    43deg,
    rgba(91, 7, 7, 1) 0%,
    rgba(214, 55, 55, 1) 100%
  );
}

#cor-palm {
  background: rgb(12, 52, 7);
  background: linear-gradient(
    43deg,
    rgba(12, 52, 7, 1) 0%,
    rgba(7, 57, 9, 1) 20%,
    rgba(44, 176, 55, 1) 100%
  );
}

#cor-sant {
  background: rgb(37, 36, 36);
  background: linear-gradient(
    43deg,
    rgba(37, 36, 36, 1) 14%,
    rgba(101, 101, 101, 1) 49%,
    rgba(219, 219, 219, 1) 100%
  );
}

#cor-paul {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    43deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(28, 28, 28, 1) 100%
  );
}

#cor-port {
  background: rgb(95, 136, 30);
  background: linear-gradient(
    43deg,
    rgba(95, 136, 30, 1) 21%,
    rgba(46, 201, 74, 1) 57%,
    rgba(16, 199, 18, 1) 85%
  );
}

.tela-inteira {
  min-height: 100vh;
  font-size: 20px;
  font-family: Calibri;
  background-color: #202124;
  text-decoration: none;
  text-align: center;
}
.hinos {
  border-width: size;
  border-style: solid;
  border-radius: 10px;
  border-color: #ffffff;
}
.links {
  text-decoration: none;
  color: #ffffff;
}
.cor-fundo {
  background-color: #202124;
}

.tela-menu {
  min-height: 100vh;
  font-size: 26px;
  font-family: Calibri;
  font-style: italic;
}

section {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.section-logo {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}
